{% extends '.base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="clothes">
            <h2>Обувь</h2>
            <img src="../static/img/Обувь.jpg" alt="Обувь">
            <a href="/обувь/">Перейти</a>
        </div>
        <div class="clothes">
            <h2>Куртки</h2>
            <img src="../static/img/Куртки.jpg" alt="Куртки">
            <a href="/куртки/">Перейти</a>
        </div>
    </div>
{% endblock %}