{% extends '.base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="clothes">
        <h2>Модель 101</h2>
        <img src="../static/img/Обувь_модель101.jpg" alt="Обувь модель 101">
        <h3>Описание модели:</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod sequi laborum assumenda est similique corporis voluptate officia, adipisci dolor illum, officiis ipsam. Obcaecati porro commodi, ad ab odio similique architecto.</p>
    </div>
    <div class="clothes">
        <h2>Модель 102</h2>
        <img src="../static/img/Обувь_модель102.jpg" alt="Обувь модель 102">
        <h3>Описание модели:</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod sequi laborum assumenda est similique corporis voluptate officia, adipisci dolor illum, officiis ipsam. Obcaecati porro commodi, ad ab odio similique architecto.</p>
    </div>
</div>
{% endblock %}