{% extends '.base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="clothes">
        <h2>Модель 201</h2>
        <img src="../static/img/Куртка_модель201.jpg" alt="Куртка модель 201">
        <h3>Описание модели:</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod sequi laborum assumenda est similique corporis voluptate officia, adipisci dolor illum, officiis ipsam. Obcaecati porro commodi, ad ab odio similique architecto.</p>
    </div>
    <div class="clothes">
        <h2>Модель 202</h2>
        <img src="../static/img/Куртка_модель202.jpg" alt="Куртка модель 202">
        <h3>Описание модели:</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod sequi laborum assumenda est similique corporis voluptate officia, adipisci dolor illum, officiis ipsam. Obcaecati porro commodi, ad ab odio similique architecto.</p>
    </div>
{% endblock %}